*.h	text=auto
*.hpp	text=auto
*.c	text=auto
*.cc	text=auto
*.cpp	text=auto
*.m	text=auto
*.f	text=auto
*.f90	text=auto
*.py	text=auto
*.java	text=auto
*.pl	text=auto
*.sh	text=auto
*.txt	text=auto
*.tex	text=auto
*.bib	text=auto
*.bbl	text=auto
*.bst	text=auto
*.html	text=auto
*.htm	text=auto
*.php	text=auto
